* {
    transition: all 0.2s ease-in-out;
  }
  
  body {
    background:#252839;
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    font-family:'Poppins',sans-serif;
    box-sizing: border-box;
    align-items: flex-start;
  }
  h2{
      position: relative;
      font-size: 10vh;
      color: #252839;
      -webkit-text-stroke: 0.3vw #383d52;
      text-transform: uppercase;
  
  }
  h2::before{
         content: attr(data-text);
         position:absolute;
         top:0%;
         left: 0;
         width: 0;
         height:100%;
         color: #01fe87;
         -webkit-text-stroke: 0.3vw red;
         border:  2px solid  #01fe87;
         overflow: hidden;
         animation: animate 10s linear infinite;
  }
  
  .card {
    background:cornsilk;
    border-radius:  50px;
    height: 85vh;
    width: 80vw;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    overflow: hidden;
  }
  @keyframes animate{
      0%,10%,100%{
          width: 0%;
  
      }
      70%,90%{
          width: 100%;
      }
  }
  
  @media only screen and (min-width: 1000px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  @media only screen and (max-height: 640px) {
    .card {
      flex-direction: row-reverse;
    }
    .card img.birthday {
      width: 100%;
      max-width: 50vw;
      max-height: unset;
    }
  }
  
  img.birthday {
    max-height: 40vh;
  }
  
  .text {
    padding: 1em;
    font-size: 20px;
    font-family: cursive;
  }
  
  .muted {
    opacity: 0.8;
  }
  
  .space {
    height: 100px;
  }